
/* start styles for navbar */


.tabs.is-boxed a {
    color: white;
    
   
}


.tabs.is-boxed a:hover {
    background-color: #383838 !important;
    color: white;
    border-bottom-color: #383838 !important;
}

a.navbar-item.is-active:hover, a.navbar-item.is-active, .navbar-link.is-active:hover, .navbar-link.is-active {
    background-color: #fafafa !important;
    color: black !important;
}


progress {
    
    transition : width 5s ease;
}
/* end styles for navbar */

.fadeIn {
    animation: fadeIn 2s ease-in;
}


.moveInLeft {
    
    animation: moveInLeft 1s ease-out;
    
}
.moveInRight {
    
    animation: moveInRight 1s ease-out;
    
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-12%);
    }
    80% {
        opacity:0.5;
        transform: translateX(1%);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(12%);
    }
    80% {
        opacity:0.5;
        transform: translateX(-1%);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        
    }
    80% {
    
    }
    100%{
        opacity: 1;
    
    }
}